@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIBold.woff") format("woff"),
    url("../fonts/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
    padding:0;
    margin:0;
    font-family: "SegoeUIRegular", Arial, sans-serif ;
}
.text h2,
.text2 p,
.cell h3 {
    font-family: "SegoeUIBold", Arial, sans-serif ;
}
.conteiner,
h2,
.text p{
    color:white;
}
.conteiner {
    position:relative;
    background-image: url("../img/bg_dark.jpg");
    height: 100vh;
}
.conteiner2 {
    background: url("../img/bg_white.jpg") center;
}
.logo {
    display: block;
    height: 130px;
    width:130px;
    margin: 0 auto;
    padding-top: 50px;
}
a img {
    display: block;
    width: 12px;
    height: 9px;
    margin: 10px auto 0;
}
h2 {
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 70px;
}
.text p {
    font-size: 18px;
}
.text {
    max-width: 60%;
    margin: 120px auto;
    text-align: center;
}
.circle {
    position:absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom:13px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid white;
    background:transparent;
}
.about,
.text2 p,
.cell1 h3,
.cell2 h3,
.cell3 h3{
    color:rgb(70,75,79);
}
.about {
    width: 863px;
    font-size: 30px;
    text-align: center;
    margin: 125px auto 0;
}
.about p:nth-child(2) {
    padding-bottom: 65px;
}
.text2 p {
    width: 780px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 160px auto 100px;
}
.cells {
    display: flex;
    justify-content: space-around;
    padding-bottom:100px;
}
.cells div{
    text-align: left;
}
.cell1 p,
.cell2 p,
.cell3 p {
    color:rgb(136,138,139);
    width: 300px;
    font-size: 18px;
}
.cell1 h3,
.cell2 h3,
.cell3 h3 {
    font-size: 18px;
    font-weight: bold;
}
