*  {
    box-sizing: border-box;
    transition: all .1s ease-in;
    background-color: #3399CC;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    height: 100%;
    border: 20px solid #2B81AC;
}
header {
    width: 60%;
    margin: 20px auto 25px;
    padding: 0;
    color: #fff;
}
li {
    display: inline-block;
    text-align: center;
    padding: 30px 10px;
    border: 2px solid white;
}
div {
    font-size: 0;
    width: 60%;
    margin: 0 auto;
    padding: 0;
    border: 2px solid white;
}
.one li,
.two li,
.three li,
.four li {
    font-size: 18px;
    color: white;
}
.lisbon {
    background-color: #3399cc;
}
div li:first-child {
    width: 50%;
}
.lisbon span {
    background-color: #3399cc;
}
.paris {
    background-color: #33cccc;
}
div li:nth-child(2) {
    width: 25%;
}
.paris span,
.paris span sup,
.paris .wi{
    background-color: #33cccc;
}
.belgrade {
    background-color: #996699;
}
div li:nth-child(3) {
    width: 25%;
}
.belgrade span,
.belgrade span sup,
.belgrade .wi{
    background-color: #996699;
}
.moscow {
    background-color: #c24747;
}
.two li:first-child {
    width: 25%;
}
.moscow span,
.moscow span sup,
.moscow .wi {
    background-color: #c24747;
}
.telaviv {
    background-color: #e2674a;
}
.two li:nth-child(2) {
    width: 25%;
}
.telaviv span,
.telaviv span sup,
.telaviv .wi {
    background-color: #e2674a;
}
.cair {
    background-color: #FFCC66;
}
.two li:nth-child(3) {
    width: 25%;
}
.cair span,
.cair span sup,
.cair .wi {
    background-color: #FFCC66;
}
.newyork {
    background-color: #99CC99;
}
.two li:nth-child(4) {
    width: 25%;
}
.newyork  span,
.newyork  span sup,
.newyork  .wi {
    background-color: #99CC99;
}
.newdelhi {
    background-color: #669999;
}
.three li:first-child {
    width: 25%;
}
.newdelhi  span,
.newdelhi  span sup,
.newdelhi  .wi {
    background-color: #669999;
}
.sanfrancisco {
    background-color: #CC6699;
}
.three li:nth-child(2) {
    width: 50%;
}
.sanfrancisco  span,
.sanfrancisco  span sup,
.sanfrancisco  .wi {
    background-color: #CC6699;
}
.tokyo {
    background-color: #339966;
}
.three li:nth-child(3) {
    width: 25%;
}
.tokyo  span,
.tokyo  span sup,
.tokyo  .wi {
    background-color: #339966;
}
.sydney {
    background-color: #666699;
}
.four li:first-child {
    width: 100%;
}
.sydney  span,
.sydney  span sup,
.sydney  .wi {
    background-color: #666699;
}
div:hover li{
    opacity: 0.7;
}
div li:hover {
    opacity: 1;
}
footer {
    width: 60%;
    margin: 25px auto 0;
    padding: 0;
    color: #fff;
}
span,
div .wi {
    color: #C5CBD9;
}
.wi {
    font-size: 25px;
}