@font-face {
    font-family: 'FuturaPTHeavy';
    src: url('../fonts/FuturaPTHeavy.otf');
    /*format('otf')*/
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    /*format('eot')*/
    font-weight: normal;
    font-style: normal;
}
* {
    margin:0;
    padding:0;
}
body {
    height:100%;
}
body {
    background-color: grey;
    font-family: Georgia, Arial, sans-serif;
}
.vertline p:first-child {
    font-family: "ProximaNova-Regular", Arial, sans-serif ;
}
.vertline h1:first-child {
    font-family: "FuturaPTHeavy", Arial, sans-serif ;
}
div.vertline {
    border-left: 2px solid #e8eced;
    position: absolute;
    top: 120px;
    height: 570px;
    bottom: 0;
    left: 245px;
}
.box {
    display: block;
    background-color: #FFFFFF;
    color: black;
    height: 380px;
    width: 700px;
    margin: 120px auto 0 ;
    padding:180px 100px 10px;
}
.box p:first-child,
.box h1,
.box p:nth-child(3) {
    text-align: left;
}
.box p:first-child {
    color: #8F8F8F;
}
.box h1 {
    font-size: 35pt;
    line-height: 35pt;
    text-transform: uppercase;
    padding-top: 30pt;
    padding-bottom: 5px;
}
.box p:nth-child(4) { /*Where am I going? How long have I got?*/
    color: #8F8F8F;
    font-size: 15pt;
    font-style: italic;
    padding-bottom: 13px;
}
.box p:nth-child(2) {  /*Roy Batty, 2019*/
    color: #8F8F8F;
    font-size: 15pt;
}
.box p:nth-child(6),
.box p:nth-child(8){
    font-size: 15pt;
    text-align: justify;
}
.aside {
    position:absolute;
    top:48px;
    right:0;
    background-color: #181818;
    color:#FEFEFE;
    width: 900px;
    height: 100px;
    text-align: left;
    padding-left: 60px;
    padding-top: 40px;
}
.aside p:first-child {
    color: #777777;
}
.aside p:nth-child(2) {
    color: #FEFEFE;
    font-size: 25pt;
}
.line {
    height:10px;
    width:900px;
    border-bottom:2px solid #303030;
    padding-left:0;
}
div.imageline {
    position: absolute;
    background-color: #f8bd2c;
    right: 0;
    top: 188px;
    width: 750px;
    padding: 15px 0 15px 25px;
}
.imageline a img{
    height: 30px;
    margin-right: 20px;
    opacity: 0.5;
}
.imageline a img:hover{
    opacity: 1;
}