* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,
html {
    height:100%;
}
.conteiner {
    width:810px;
    margin:0 auto;
    border:5px solid #171312;
    background-color:#171312;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.row div {
    float:left;
    width: 100px;
    height:100px;
}
.row1 div:nth-child(2n),
.row2 div:nth-child(2n+1),
.row3 div:nth-child(2n),
.row4 div:nth-child(2n+1),
.row5 div:nth-child(2n),
.row6 div:nth-child(2n+1),
.row7 div:nth-child(2n),
.row8 div:nth-child(2n+1) {
    background-color: #E3CCAB;
}
.row4 div:nth-child(2n),
.row5 div:nth-child(2n+1) {
    background-color: #171312;
}
.circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.color1 {
    background-color:saddlebrown;
}
.color2 {
    background-color:#B22B2D;
}